{% extends "profile_base.html" %}

{% block title %}Детальная страница агента{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Агент: {{ agent.company_name }}</h1>

    <div class="card mb-4">
        <div class="row g-0">
            <div class="col-md-4">
                {% if agent.image %}
                    <img src="{{ agent.image.url }}" class="img-fluid rounded-start" alt="Фото агента">
                {% else %}
                    <img src="{{ user.image.url }}" class="img-fluid rounded-start" alt="Нет фото">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ agent.username }}</h5>
                    <p class="card-text"><strong>Роль:</strong> {{ agent.get_role_display }}</p>
                    <p class="card-text"><strong>Компания:</strong> {{ agent.company_name }}</p>
                    <p class="card-text"><strong>Телефон:</strong> {{ agent.phone }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ agent.email }}</p>
                    <p class="card-text"><strong>Юридический адрес:</strong> {{ agent.legal_address }}</p>
                    <p class="card-text">
                        <strong>Предпочтительный канал связи:</strong>
                        {% if agent.preferred_contact_method %}
                            {{ agent.get_preferred_contact_method_display }}
                        {% else %}
                            Не указан
                        {% endif %}
                    </p>
                    {% if agent.website %}
                    <p class="card-text">
                        <strong>Сайт:</strong>
                        <a href="{{ agent.website }}" target="_blank">{{ agent.website }}</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
