{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Page Five{% endblock %}

{% block content %}
<section class="main-screen">
    <div class="container">
        <div class="main-screen-info">
            <h1 class="main-screen-info-title">Выход на международный рынок недвижимости</h1>
            <p class="main-screen-info-text">Эксклюзивные предложения <br> и безопасные сделки</p>
            <button class="button main-screen-button">Оставить заявку</button>
        </div>
        <div class="main-screen-image">
            <img src="{% static 'images/main-screen-img.png' %}" alt="">
        </div>
    </div>
</section>
<section class="text-box">
    <div class="container">
        <h3 class="text-box-title">EstConnect</h3>
        <p class="text-box-text">EstConnect - digital сервис работы с объектами недвижимости по всему миру, который
            исключает риски и содействует быстрой интеграции в сегмент первичного риэлтерского рынка</p>
    </div>
</section>
<section class="workAreas">
    <div class="container">
        <h3 class="workAreas-title">Три направления работы сервиса</h3>
        <div class="workAreas-items">
            <div class="workAreas-item">
                <img src="{% static 'images/workAreas-img-1.png' %}" alt="">
                <h4 class="workAreas-item-title">Каталог недвижимости</h4>
            </div>
            <div class="workAreas-item">
                <img src="{% static 'images/workAreas-img-2.png' %}" alt="">
                <h4 class="workAreas-item-title">Юридический мониторинг</h4>
            </div>
            <div class="workAreas-item">
                <img src="{% static 'images/workAreas-img-3.png' %}" alt="">
                <h4 class="workAreas-item-title">Прямые контракты с застройщиками</h4>
            </div>
        </div>
    </div>
</section>
<section class="auth-cta">
    <div class="container">
        <div class="auth-cta-content">
            <h3 class="auth-cta-title">С нами продавать недвижимость просто!</h3>
            <div class="auth-cta-buttons">
                <a href="{% url 'users:login' %}" class="button auth-cta-button">Вход</a>
                <a href="{% url 'users:register' %}" class="button auth-cta-button">Регистрация</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function(){
        $('.advantages-carousel').owlCarousel({
            loop: true,
            margin: 30,
            nav: false,
            dots: true,
            dotsContainer: '.advantages-dots',
            responsive:{
                0:{
                    items: 1
                }
            }
        });
    });
</script>
{% endblock %} 