{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Page Five{% endblock %}

{% block content %}
<section class="text-box">
    <div class="container">
        <h2 class="text-box-title">Почему EstСonnect ?</h2>
        <p class="text-box-subtitle">Создание безопасной цифровой среды для эффективной работы с объектами недвижимости в мировых масштабах</p>
    </div>
</section>
<section class="advantages-slider">
    <div class="container">
        <div class="advantages-dots"></div>
        <div class="owl-carousel advantages-carousel">
            <div class="advantages-carousel-item">
                <div class="advantages-carousel-item-info">
                    <h2 class="advantages-carousel-item-title">Инновации</h2>
                    <p class="advantages-carousel-item-text">It технологии для возможности прямого сотрудничества
                        <br> с застройщиками</p>
                </div>
                <div class="advantages-carousel-item-image">
                    <img src="{% static 'images/advantages-img-1.png' %}" alt="">
                </div>
            </div>
            <div class="advantages-carousel-item">
                <div class="advantages-carousel-item-info">
                    <h2 class="advantages-carousel-item-title">Честность</h2>
                    <p class="advantages-carousel-item-text">Исключительно достоверная <br> и объективная информация</p>
                </div>
                <div class="advantages-carousel-item-image">
                    <img src="{% static 'images/advantages-img-2.png' %}" alt="">
                </div>
            </div>
            <div class="advantages-carousel-item">
                <div class="advantages-carousel-item-info">
                    <h2 class="advantages-carousel-item-title">Надежность</h2>
                    <p class="advantages-carousel-item-text">Актуальная юридическая информация в рамках национального законодательства</p>
                </div>
                <div class="advantages-carousel-item-image">
                    <img src="{% static 'images/advantages-img-3.png' %}" alt="">
                </div>
            </div>
            <div class="advantages-carousel-item">
                <div class="advantages-carousel-item-info">
                    <h2 class="advantages-carousel-item-title">Рентабельность</h2>
                    <p class="advantages-carousel-item-text">Оценка объекта недвижимости на доходный потенциал</p>
                </div>
                <div class="advantages-carousel-item-image">
                    <img src="{% static 'images/advantages-img-4.png' %}" alt="">
                </div>
            </div>
            <div class="advantages-carousel-item">
                <div class="advantages-carousel-item-info">
                    <h2 class="advantages-carousel-item-title">Экспертность</h2>
                    <p class="advantages-carousel-item-text">Использование интернационального опыта для выбора объектов</p>
                </div>
                <div class="advantages-carousel-item-image">
                    <img src="{% static 'images/advantages-img-5.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-box">
    <div class="container">
        <h3 class="text-box-title">Открытая политика взаимодействия</h3>
        <p class="text-box-text">Поддержание партнерских отношений среди агентств и девелоперов с помощью двустороннего потока информации, при котором отзывы, идеи, мнения и мысли свободно обмениваются между пользователями сервиса</p>
        <div class="text-box-line"></div>
        <p class="text-box-big-text">Условия на рынке недвижимости постоянно меняются, EstСonnect следит и информирует пользователей о современных тенденциях,
            <br> и анализирует риски 24/7</p>
    </div>
</section>
<section class="auth-cta auth-cta-one-button">
    <div class="container">
        <div class="auth-cta-content-one-button">
            <a href="{% url 'pages:about-product' %}#pricingPlans" class="button auth-cta-button cta-content-one-button">Узнать о тарифах подписки</a>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function(){
        $('.advantages-carousel').owlCarousel({
            loop: true,
            margin: 30,
            nav: false,
            dots: true,
            dotsContainer: '.advantages-dots',
            responsive:{
                0:{
                    items: 1
                }
            }
        });
    });
</script>
{% endblock %} 