{% extends 'profile/base_profile.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ agent.company_name }}{% endblock %}

{% block breadcrumb %}
<a href="{% url 'pages:index' %}">Estconnect</a>
<span class="separator"> > </span>
<a href="{% url 'users:agent_list' %}">{% trans "Агенты" %}</a>
<span class="separator"> > </span>
<a href="#">{{ agent.company_name }}</a>
{% endblock %}

{% block content %}
<div class="object_main-screen">
    <div class="object_main-screen-header">
        {% if agent.first_name %}
        <h1 class="platform_h1">{{ agent.first_name }} {{ agent.last_name }}</h1>
        {% else %}
        <h1 class="platform_h1">{% trans "Не указано" %}</h1>
        {% endif %}
        <div class="object-card-place">
            <div class="object-card-place-icon">
                <img src="{% static 'assets/icons/map-icon.svg' %}" alt="">
            </div>
            <div class="object-card-place-text">{{ agent.country }}, {{ agent.city.name }}</div>
        </div>
    </div>
    <div class="stroy-content">
        <div class="stroy-content-main-screen">
            {% if agent.image %}
            <img src="{{ agent.image.url }}" alt="{{ agent.company_name }}">
            {% else %}
            <img src="{% static 'images/stroy-content-banner-img.png' %}" alt="{{ agent.company_name }}">
            {% endif %}
            <div class="stroy-content-logo">
                {% if agent.profile_photo %}
                <img src="{{ agent.profile_photo.url }}" alt="{{ agent.company_name }}">
                {% else %}
                <img src="{% static 'images/stroy-content-logo.png' %}" alt="{{ agent.company_name }}">
                {% endif %}
            </div>
            <a href="#" class="stroy-content-favourite"></a>
        </div>
        <div class="stroy-content-information">
            <div class="stroy-content-information-about">
                <div class="stroy-content-information-about-item">
                    <div class="stroy-content-information-about-item-icon">
                        <img src="{% static 'assets/icons/stroy-content-information-about-item-icon-1.svg' %}" alt="">
                    </div>
                    <div class="stroy-content-information-about-item-container">
                        <p class="stroy-content-information-about-item-title">{% trans "Тип компании" %}</p>
                        <p class="stroy-content-information-about-item-text">{% trans "Агент" %}</p>
                    </div>
                </div>
                <div class="stroy-content-information-about-item">
                    <div class="stroy-content-information-about-item-icon">
                        <img src="{% static 'assets/icons/stroy-content-information-about-item-icon-2.svg' %}" alt="">
                    </div>
                    <div class="stroy-content-information-about-item-container">
                        <p class="stroy-content-information-about-item-title">{% trans "На платформе" %}</p>
                        <p class="stroy-content-information-about-item-text">{{ agent.date_joined|date:"F Y" }}</p>
                    </div>
                </div>
                <div class="stroy-content-information-about-item">
                    <div class="stroy-content-information-about-item-icon">
                        <img src="{% static 'assets/icons/stroy-content-information-about-item-icon-3.svg' %}" alt="">
                    </div>
                    <div class="stroy-content-information-about-item-container">
                        <p class="stroy-content-information-about-item-title">{% trans "Веб-сайт" %}</p>
                        <p class="stroy-content-information-about-item-text">{{ agent.website|default:_("Не указан") }}</p>
                    </div>
                </div>
                <div class="stroy-content-information-about-item">
                    <div class="stroy-content-information-about-item-icon">
                        <img src="{% static 'assets/icons/stroy-content-information-about-item-icon-4.svg' %}" alt="">
                    </div>
                    <div class="stroy-content-information-about-item-container">
                        <p class="stroy-content-information-about-item-title">{% trans "Язык общения" %}</p>
                        <p class="stroy-content-information-about-item-text">{{ agent.languages|default:_("Русский") }}</p>
                    </div>
                </div>
            </div>
            <div class="stroy-content-information-jobTime">
                <p class="stroy-content-information-jobTime-title">
                    {% trans "Время работы" %}
                </p>
                <div class="stroy-content-information-jobTime-isOpen">
                    <div class="stroy-content-information-jobTime-isOpen-icon" style="background:#20BD00"></div>
                    <p class="stroy-content-information-jobTime-isOpen-text">{% trans "Открыто сейчас" %}</p>
                </div>
                <div class="stroy-content-information-jobTime-days">
                    <p class="stroy-content-information-jobTime-days-item">
                        {% trans "Понедельник - пятница" %} <span>09:30 - 20:30</span>
                    </p>
                    <p class="stroy-content-information-jobTime-days-item">
                        {% trans "Суббота" %} <span>10:00 - 17:30</span>
                    </p>
                    <p class="stroy-content-information-jobTime-days-item">
                        {% trans "Воскресенье" %} <span>{% trans "выходной" %}</span>
                    </p>
                </div>
            </div>
            <div class="stroy-content-information-socials">
                <p class="stroy-content-information-socials-title">
                    {% trans "Соц. сети" %}
                </p>
                <div class="stroy-content-information-socials-items">
                    {% if agent.telegram %}
                    <a href="{{ agent.telegram }}" class="stroy-content-information-socials-item">
                        <img src="{% static 'assets/icons/tg-icon-blue.svg' %}" alt="{% trans "Telegram" %}">
                    </a>
                    {% endif %}
                    {% if agent.vk %}
                    <a href="{{ agent.vk }}" class="stroy-content-information-socials-item">
                        <img src="{% static 'assets/icons/vk-icon-blue.svg' %}" alt="{% trans "VK" %}">
                    </a>
                    {% endif %}
                    {% if agent.instagram %}
                    <a href="{{ agent.instagram }}" class="stroy-content-information-socials-item">
                        <img src="{% static 'assets/icons/inst-icon-blue.svg' %}" alt="{% trans "Instagram" %}">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="stroy-content-describe">
            <div class="stroy-content-block-header">
                <h4 class="stroy-content-block-title">{% trans "Описание" %}</h4>
            </div>
            <div class="stroy-content-block-content">
                {{ agent.description|linebreaks }}
            </div>
        </div>
    </div>
</div>
{% endblock %} 